name: na01.js

services:
  dev:
    image: node:lts-alpine
    working_dir: /repo
    volumes:
      - repo:/repo
    command:
      - sleep
      - infinity
    init: true
    env_file:
      - ../.env

volumes:
  repo:
