name: na01-go

services:
  dev:
    image: ukoloff/dev:go
    depends_on:
      sidecar:
        condition: service_completed_successfully
    working_dir: /repo
    volumes:
      - repo:/repo
    command:
      - sleep
      - infinity
    init: true
    env_file:
      - ../.env

  sidecar:
    image: ukoloff/sidecar:js
    volumes:
      - repo:/repo
    working_dir: /repo
    environment:
      SIDECAR_GIT_URL: https://github.com/ukoloff/netangels.dns-01?depth=2#go

volumes:
  repo:
